.ChatView {
    border-style: solid;
    border-radius: 0.5rem;
    margin: 5rem auto 5rem auto;
    padding: 1rem;
    max-width: 40rem;
}

.TopControls {
    text-align: center;
}


.BottomControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem
}

#messageInput {
    margin-right: 1em;
    flex-grow: 1;
    font-size: 16px;
}




.MessageAndControls {
    margin: 1rem;
}

.MessageView {
    height: 30rem;
    overflow-y: auto;
    border: 1px solid;
    border-radius: 0.5rem;
    margin: auto;

    text-align: left;
    padding: 1rem;

}


.MessageView ul {
    list-style: none;
    padding: 0;
}

.MessageView ul span {
    font-size: small
}

@media screen and (max-width: 50em) {
    .ChatView {
        margin: 1rem
    }

    .BottomControls {
        flex-direction: column;
    }

    #messageInput {
        align-self: stretch;
        margin-right: 0;
    }

    #messageSend {
        margin-top: 1em;
        align-self: center;
    }

    .MessageView {
        padding: 0.3rem;
    }

    .MessageView ul span {
        font-size: smaller
    }
}

