.UserList ul {
    list-style: none;
    padding: 0;
}

.UserList {
   
    overflow-y: auto;
    border: 1px solid;
    border-radius: 0.5rem;
    width: 20%;

    text-align: left;
    padding: 0.3rem;

}

.UserHeading {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.UserList ul {
    margin-top: 0.1rem;
}