.WelcomeView {
    border-style: solid;
    border-radius: 0.5rem;
    margin: 5rem 5rem 5rem 5rem;
    text-align: center;
    padding: 1rem;
}

.WelcomeView label {
    margin-right: 0.5rem
}

.WelcomeView button {
    width: 5rem;
    margin-left: 0.5rem;
}

#nameInput {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

@media screen and (max-width: 30em) {
    .WelcomeView {
        margin: 1rem
    }
}